<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="page_title">
		Projects list
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable class="table" value="#{projectController.projectList}"
				var="project">
				<f:facet name="header">
       	 			Projects
    			</f:facet>
				<p:column headerText="Project name">
					<p:commandLink action="#{projectController.overview(project)}"
						value="#{project.projectName}"></p:commandLink>
				</p:column>
				<p:column headerText="Project description">
					<h:outputText value="#{project.projectDescription}" />
				</p:column>
				<p:column headerText="Start date">
					<h:outputText value="#{project.projectStartDate}" />
				</p:column>
				<p:column headerText="End date">
					<h:outputText value="#{project.projectEndDate}" />
				</p:column>

				<p:column headerText="Operations">

					<p:commandLink action="#{projectController.overview(project)}"
						value="Overview "></p:commandLink>

					<p:commandLink action="#{projectController.update(project)}"
						value="Update "></p:commandLink>

					<p:commandLink
						actionListener="#{projectController.delete(project)}"
						update="@form" value="Delete " immidiate="true">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert"></p:confirm>
					</p:commandLink>

				</p:column>
			</p:dataTable>

			<p:commandButton action="#{projectController.create}"
				value="Create new project" />


			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>


	</ui:define>


</ui:composition>
