<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core" template="template.xhtml">

	<ui:define name="page_title">
		Project details
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable class="table" value="#{projectModel.currentProject}"
				var="project">
				<f:facet name="header">
        			Project details
    			</f:facet>
				<p:column headerText="Project Name">
					<h:outputText value="#{project.projectName}" />
				</p:column>
				<p:column headerText="Project description">
					<h:outputText value="#{project.projectDescription}" />
				</p:column>
				<p:column headerText="Project Start Date">
					<h:outputText value="#{project.projectStartDate}" />
				</p:column>
				<p:column headerText="Project End Date">
					<h:outputText value="#{project.projectEndDate}" />
				</p:column>

			</p:dataTable>
		</h:form>

		<p:commandButton action="#{projectController.cancel}" value="Go back" />


	</ui:define>


</ui:composition>
