<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="page_title">
		Add new project
	</ui:define>

	<ui:define name="content">

		<h:form>
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<p:panel id="basic" header="Add new project"
				style="margin-bottom:20px">
				<h:panelGrid id="grid" columns="3" cellpadding="5">

					<p:outputLabel for="projectName">Project name: </p:outputLabel>
					<p:inputText id="projectName"
						value="#{projectModel.currentProject.projectName}" required="true"
						requiredMessage="Please enter project name"
						validatorMessage="Project name can not be longer than 50 symbols">
						<f:validateBean />
					</p:inputText>
					<p:message for="projectName" />

					<p:outputLabel for="projectDescription">Project description: </p:outputLabel>
					<p:inputTextarea rows="5" cols="20" id="projectDescription"
						value="#{projectModel.currentProject.projectDescription}"
						required="true" requiredMessage="Please enter project description"
						validatorMessage="Project description can not be longer than 300 symbols">
						<f:validateBean />
					</p:inputTextarea>
					<p:message for="projectDescription" />

					<p:outputLabel for="projectStartDate">Project start date: </p:outputLabel>
					<p:calendar id="projectStartDate" pattern="yyyy-MM-dd"
						value="#{projectModel.currentProject.projectStartDate}"
						requiredMessage="Please enter project start date" required="true"
						converterMessage="Use format YYYY-MM-DD">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</p:calendar>
					<p:message for="projectStartDate" />

					<p:outputLabel for="projectEndDate">Project end date: </p:outputLabel>
					<p:calendar id="projectEndDate" pattern="yyyy-MM-dd"
						value="#{projectModel.currentProject.projectEndDate}"
						requiredMessage="Please enter project end date" required="true"
						converterMessage="Use format YYYY-MM-DD">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</p:calendar>
					<p:message for="projectEndDate" />

				</h:panelGrid>
			</p:panel>
			<p:commandButton value="Save" action="#{projectController.save()}"
				update="@form" />
			<p:commandButton value="Cancel"
				action="#{projectController.cancel()}" immediate="true" />
		</h:form>

	</ui:define>



</ui:composition>
