<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
	<h:head>
  		<title>TATA project management system 
  			<ui:insert name="page_title"></ui:insert>
  		</title>
	</h:head>

	<h:body>
	
		<div class="context">
			<ui:insert name="content"/>
		</div>
  
	</h:body>
</html>
